body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


h1, h2, h3, p {
    cursor: default;
}

img {
    width: 3.2%;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.box {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: .6s all;
}

.box{
  padding: 20px;
}

.box:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.New {
    color: rgba(255, 0, 0, 0.93);
}

a {
    color: #3498db;
    text-decoration: none;
    transition: .6s all;
}

a:hover {
    color: #1773b0;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    border: 23.5px solid #333;
}


footer nav a {
    display: inline-block;
    font-size: 2em;
}

footer p {
    margin-top: 1.25em;
    font-size: 0.8em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    padding-right: 0.9%;
}

body {
    background-color: rgb(53, 53, 53);
}

body header h1 {
    color: white;
}

body .box {
    background-color: #0000006f;
    color: #fff;
}

body .mdl-button{
    background-color: #0000006f;
    color: #fff;
}

body .box:hover {
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
}

body #theme {
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    color: white;
}

#theme {
    border: 1px solid none;
    background-color: none;
}

.light-theme {
    background-color: #fff;
}

.light-theme header h1 {
    color: #000;
}

.light-theme .box {
    background-color: #f5f5f5;
    color: #000;
}

.light-theme .mdl-button{
    background-color: #fff;
    color: #000;
}

.light-theme .box:hover {
    box-shadow: 10px 10px 10px #0000006f;
}

.light-theme #theme {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}


nav a {
    display: block;
    margin: 10px 10px;
    color: #fff;
    text-decoration: none;
}

.title {
    position: relative;
    display: inline-block;
}

.title::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3498db;
    transition: width 0.5s;
}

.title:hover::before {
    width: 100%;
}

.buttons-container {
    display: flex;
}
.buttons {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #5483bb;
    background-color: #5483bb;
    border-radius: 30px;
}

.buttons:hover {
    color: #fff;
    transform: scale(1.03);
}
